.container {
    position: relative;
}

.box {
    position: absolute;
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: rgba(0, 0, 255, 0.5); */
    /* border: 1px solid #000; */
}

#box1 {
    left: 0;
    top: 0;
    z-index: 3;
}

#box2 {
    left: 0;
    top: 0;
    z-index: 2;
}

#box3 {
    left: 0;
    top: 0;
    z-index: 1;
}